*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.tittle{
    background-image: linear-gradient(0,#eeee,#53b8bb);
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
.logo{
    margin:0 30px;
    padding: 10px 0;
    
    
    font-family:Arial, Helvetica, sans-serif ;
}
.logo h2{
    font-weight: bold;
    font-style: italic;
    color:#0f52ba;
    font-size: 28px;

}
.logo h2 span{
    color: #bd1616
}
.logo p{
    font-weight: bold;
    font-size: 11px;
    color: #055052;
}
.phone{
    margin: 0 30px;
    padding: 10px 0;
}
.phone i{
    margin-bottom: 10px;
    font-size: 20px;
}
.phone h3{
    color: #055052;

}
.like{
    margin: 0 30px;
    padding: 20px 10px;
    width: 450px;
    display: flex;
    cursor: pointer;

}
.like .like-icon{
    width: 75px;
    height: 25px;
    background: #007bff;
    border-radius:5px ;
    color: white;
    text-align:center ;
    font-size: 13px;
    padding-top: 7px;
    margin-right: 15px;

}
.like p{
    font-size: 13px;
    
}
.search{
    margin: 10px 10px;
    padding:10px 0 ;

}
.search input{
    height: 27px;
    width: 106px;
    text-align:center ;
    color: rgb(134, 133, 133);
    border-radius: 15px;
    border: 1px solid rgb(134, 133, 133);

}
.search i{
    color:rgb(88, 87, 87);
}
.account{
    margin: 10px 10px;
    

}
.account img{
    width: 40px;
    border-radius: 50%;
}
.online{
    position: relative;
    margin-left: -40px;

}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid#fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar{
    position: relative; 
    height: 44px; 
    background-color: #53b8bb; 
}
.menu{
    display: flex;
    justify-content: space-around;
    
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    

}
.navbar ul li{
    list-style: none;
    padding: 10px 10px;
    position: relative;
}
.navbar li a{
    text-decoration:none ;
    color: white;
    
}
.navbar .menu li:hover{
    background-color: #dbe6fd;
    
    

}
.navbar .menu li:hover a{
    color: #53b8bb;
}
.navbar .menu li:first-child {
    background-color: #dbe6fd;
    color:#53b8bb;
    
}
.navbar .menu li:first-child a{
    color: #53b8bb;

}
.menu-menu1--menucon {
    border-bottom:1px solid rgb(83, 83, 83) ;
    z-index: -1;
    opacity: 0;
    transition:opacity linear 0.15s;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dbe6fd;    
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);

}
.menu li:hover .menu-menu1--menucon{
    z-index: 1;
    opacity: 1;
    
}


/*main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #031321;
    font-family: consolas;
}
.button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration:none ;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    
}
.button:hover{
    color:#255784;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    transition-delay:1s;
    

}
.button span{
    position: absolute;
    display: block;

}
.button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}    
.button:hover span:nth-child(1){
    left: 100%;
    transition: 1s;

}

.button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}    
.button:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}    
.button:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}    
.button:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}*/
:root{
    --background1:rgba(230,230,230) ;
    --shadow1:rgba(119,119,119,0.5);
    --shadow2:rgba(255,255,255,0.85);
    --labelColor:black;
    --displayProp: block;


}
main{
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background1);
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 400px;
    width: 100%;
    padding: 30px;
    margin-top: -20px;
    
    
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px solid var(--background1);
    box-shadow: 15px 15px 10px 5px var(--shadow1),
    -10px -10px 10px 5px var(--shadow2),
    inset 15px 15px 10px 5px var(--shadow1),
    inset -10px -10px 10px 5px var(--shadow2);
    margin-left: 12px;
    border-radius: 0px 120px 0px 120px;
    min-height: 400px;
    display: var(--displayProp) !important;
}

.user-details{
    margin-top: 24px;

}
.title{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 14px;
    color: var(--labelColor);
}
.input-box{
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

.input-field{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    font-size: 18px;
    border: 2px solid var(--background1);
    outline: none;
    background: transparent;
    box-shadow: 5px 10px 8px 0 var(--shadow1),
    -5px 10px 8px 0 var(--shadow2),
    inset 5px 10px 5px 0 var(--shadow1),
    inset -5px -10px 5px 2px var(--shadow2);
    border-radius: 50px;
    padding-top: 10px;
    

}
.input-field:active{
    box-shadow: 5px 5px 5px 0 var(--shadow1),
    -5px 5px 5px 0 var(--shadow2),
    inset 5px 5px 5px 0 var(--shadow1),
    inset -5px -5px 5px 0 var(--shadow2);
}
.button{
    width: 100%;
    height: 50px;

}
.button input{
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    background: var(--background1);
    text-align: center;
    outline: none;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 2px var(--shadow1),
    -5px -5px 7px 2px var(--shadow2);
    color: var(--labelColor);
    cursor: pointer;

}
.button input:active{
    box-shadow:5px 5px 5px 2px var(--shadow1),
    -5px -5px 5px 2px var(--shadow2),
    inset 5px 5px 5px 2px var(--shadow1),
    inset -5px -5px 5px 2px var(--shadow2); ;
}
.footer{
    width: 100%;
    margin-top:18px ;

}
.social-media-icons{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    

}
.social-media-icons i{
    height: 38px;
    width: 38px;
    padding: 4px;
    font-size: 26px;
    border-radius: 50%;
    border: 2px solid var(--background1);
    cursor: pointer;
    outline: none;
    box-shadow:5px 5px 5px 2px var(--shadow1),
    -2px -2px 5px 2px var(--shadow2),
    inset 3px 3px 5px 2px var(--shadow1),
    inset -2px -2px 5px 2px var(--shadow2) ;
    text-align: center;


}
.fa-google-plus-g{
    
    
    color: rgb(228,9,9);

}
.fa-facebook-f{
    
    color: rgb(13,16,233);

}
.fa-instagram{
    color: rgb(240,10,201);


}
.fa-twitter{
    color: rgb(9, 177, 228);
}
.fa-pinterest{
    color: rgb(223, 10,10);
}